/**
*
* Divers
* Page de connexion
* Alertes
* Custom admin
*
*
**/


/*==============================
=            Divers            =
==============================*/

/*----------  lien vers la page de config du thème  ----------*/

a[href*="customize.php"] { display:none; }


/*----------  image preview (custom field)  ----------*/

.pc-media-preview {
	display:flex;
	flex-wrap: wrap;
	margin:0 0 5px 0;
}
.pc-media-preview-item {
	margin:0 5px 5px 0;
	background-color: #fff;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:contain;
	border:5px solid #fff;
}
.postbox .pc-media-preview-item {
	background-color: #F1F1F1;
	border:5px solid #F1F1F1;
}
.pc-pdf-preview {
	display: inline-block;
	text-decoration: none;
	margin-bottom:5px;
	background-color: #fff;
	padding:5px 15px 5px 10px;
}
.pc-media-remove {
	margin-left:5px!important;
}

/*=====  FIN Divers  ======*/

/*=========================================
=            Page de connexion            =
=========================================*/

.login h1 a {
	background-image: url(images/logo-login.png);
	background-size: initial;
	background-position: center top;
	width:320px;
	height:150px;
}


/*=====  FIN Page de connexion  ======*/


/*===============================
=            Alertes            =
===============================*/

.pc-message { font-size:18px; }
.pc-message_false { color: red; }
.pc-field-alert { border:1px solid red !important; }


/*=====  FIN Alertes  ======*/

/*====================================
=            Custom admin            =
====================================*/

/*----------  Suppression diverses  ----------*/

/* post & page */
.edit-php .view-mode, /* metabox catégorie, lien pour ajouter */
.post-new-php .taxonomy-add-new, .post-php .taxonomy-add-new, /* metabox catégorie, lien pour ajouter */
.post-new-php .columns-prefs, .post-php .columns-prefs, /* options d'écran, nombre de colonnes */
.post-new-php .editor-expand, .post-php .editor-expand, /* options d'écran, réglages supplémentaires */
.no-url-rewriting #edit-slug-buttons, /* btn modification slug si désactivé */
/* catégories */
.edit-tags-php .term-parent-wrap, .term-php .term-parent-wrap, /* sélection parent */
.edit-tags-php .term-description-wrap, .term-php .term-description-wrap, /* description */
/* menus */
.nav-menus-php .metabox-prefs:nth-child(2) label:nth-child(n+5),  /* Afficher description et XFN */
.nav-menus-php .auto-add-pages, /* Ajoutez automatiquement des pages */
.nav-menus-php label[for*="add-post-type-post-hide"], .nav-menus-php #add-post-type-post, /* box articles */
.nav-menus-php label[for*="add-category-hide"], .nav-menus-php label[for*="add-newscategories-hide"], /* sélecteur box catégories */
.nav-menus-php label[for*="add-post_tag-hide"], .nav-menus-php #add-post_tag, /* box étiquettes */
/* medias */
.upload-php .view-switch .view-list, /* btn vue en liste */
.media-modal .gallery-settings, /* options gallery (sidebar) */
.media-modal label[data-setting="title"], /* champ titre */
.media-modal label[data-setting="description"], /* champ description */
.media-modal .actions a, /* liens vers la page du fichier joint & plus de détails */
.attachment-display-settings div.setting /* champ lier à */

{ display:none !important; }

/* medias */
.media-modal .actions { color: #F3F3F3; } /* séparateur liens vers la page du fichier joint & plus de détails */

/*----------  page de config  ----------*/

table.form-table + h2, table.form-table + p.submit {
	border-top: 2px dashed #333;
	padding:30px 0 0 0;
	margin-top:50px;
}
table.form-table + p.submit {
	text-align: center;
}


/*----------  WYSIWYG gallery preview  ----------*/

.mce-visualblocks .wpview,
.mce-visualblocks .gallery {
	padding:0 !important;
	margin:0 !important;
}
.mce-visualblocks .gallery {
	border:none !important;
	background-color: #ccc !important;
	height:50px;
	position: relative;
}
.mce-visualblocks .gallery:after {
	content: "Gallerie d'images";
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	left:10px;
	top:10px;
}
.mce-visualblocks .gallery * {
	display:none;
}


/*----------  WYSIWYG ancre  ----------*/

#tinymce h2[id]:before,
#tinymce h3[id]:before,
#tinymce ul[id]:before,
#tinymce li[id]:before,
#tinymce ol[id]:before,
#tinymce blockquote[id]:before,
#tinymce p[id]:before {
	display:inline-block;
	content:attr(id);
	margin-right:5px;
	padding: 0 5px;
	background-color: #666;
	color:#fff;
}


/*=====  FIN Custom admin  ======*/