/**
*
* Ajout
* Suppression
* Wysiwyg
*
**/

/*======================================
=            Classes utiles            =
======================================*/

.reset-btn {
	border:none;
	padding: 0;
	border-radius:0;
	background:none;
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	clip: rect(1px,1px,1px,1px);
	border: 0;
	clip-path: inset(50%);
	white-space: nowrap;
}



/*----------  Alertes  ----------*/

.pc-message-error { color: red!important; }
.pc-field-error { border:1px solid red !important; }


/*=====  FIN Classes utiles  =====*/

/*=========================================
=            Page de connexion            =
=========================================*/

.login h1 a {
	background-image: url(files/logo-login.png);
	background-size: initial;
	background-position: center top;
	width:320px;
	height:150px;
}


/*=====  FIN Page de connexion  =====*/

/*=================================
=            Dashboard            =
=================================*/

/*----------  Widget Bienvenue  ----------*/

.welcome-manuals p { margin-bottom: 0; }
.welcome-manuals ul {
	list-style-type: square;
	padding-left:15px;
	margin-top:5px;
}


/*=====  FIN Dashboard  =====*/

/*=====================================
=            Custom fields            =
=====================================*/

/*----------  Aide  ----------*/

.pc-metabox-help {
	padding:10px;
	margin-top:12px;
	border:1px dashed #aaa;
}
.pc-metabox-help > * {
	margin:5px 0 0;
}
.pc-metabox-help > :first-child {
	margin:0;
}


/*----------  Aperçu image  ----------*/

.pc-media-preview {
	display:flex;
	flex-wrap: wrap;
	margin:0 0 5px 0;
}
.pc-media-preview-item {
	margin:0 5px 5px 0;
	background-color: #fff;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:contain;
	border:5px solid #fff;
}
.postbox .pc-media-preview-item {
	background-color: #F1F1F1;
	border:5px solid #F1F1F1;
}
.pc-pdf-preview {
	display: inline-block;
	text-decoration: none;
	margin-bottom:5px;
	background-color: #fff;
	padding:5px 15px 5px 10px;
}
.pc-media-remove { margin-left:5px!important; }


/*----------  Modale lien  ----------*/

.pc-modal-link #link-options,
.pc-modal-link #wplink-link-existing-content
{ display:none; }

.pc-modal-link .link-search-wrapper { margin:10px 0 0 0 !important; }
.pc-modal-link .query-results { top:80px!important; }


/*=====  FIN Custom fields  =====*/

/*=============================================
=            Ajout / Modifications            =
=============================================*/

/* tax : supprime limite largeur du contenu */
#edittag { max-width: none ! important; }

 /* pages d'options */
form[action="options.php"] h2,
form[action="options.php"] p.submit,
 /* édition d'une taxonomie */
.term-php form h2,
.edit-tag-actions
{
	border-top: 3px dotted #ccc;
	padding:30px 0 0 0;
	margin-top:20px;
}

/* config & tax : position du btn submit */
form[action="options.php"] p.submit,
.edit-tag-actions
{ text-align: center; }

 /* page medias, alignement vertical */
.upload-php .media-toolbar-secondary button { margin: 12px 10px 12px 0 !important; }

/* modal image */
.media-modal .actions { color: #F3F3F3; } /* séparateurs liens vers la page du fichier joint & plus de détails */
.media-modal #media-attachment-date-filters {
	width: auto !important;
	max-width: none !important;
}
.media-modal .help { margin-top:0; }

/* list des pages */
.post-state { font-style: italic; }


/*=====  FIN Ajout / Modifications  ======*/

/*====================================
=            Suppressions            =
====================================*/

/*----------  Medias page  ----------*/

.upload-php .view-switch a,	/* changement de vue */
#media-attachment-filters	/* type de media */
{ display:none !important; }


/*----------  Medias modal  ----------*/

.media-modal .media-frame-title + h2, /* titre "Actions" colonne gauche */
.media-modal #menu-item-playlist, /* btn ajouter une playlist audio */
.media-modal #menu-item-video-playlist, /* btn ajouter une playlist vidéo */
.media-modal #menu-item-embed, /* btn ajouter à partir d'une adresse web */

.media-modal #alt-text-description, /* aide champ texte alternatif */
.media-modal [data-setting="title"], /* champ titre */
.media-modal [data-setting="description"], /* champ description */
.media-modal [data-setting="url"], /* champ description */

.media-modal .attachment-display-settings .align, /* select alignement */
.media-modal .attachment-display-settings label[for="attachment-display-settings-link-to"], /* select alignement */
.media-modal .attachment-display-settings label[for="attachment-display-settings-link-to"] + select, /* select alignement */
.media-modal .actions a, /* Options media 	: liens vers la page du fichier joint & plus de détails */

.media-modal .media-types-required-info, /* mention champs obligatoires */

.media-modal .gallery-settings, /* options galerie */

.media-modal .advanced-section, /* modification d'une image insérée, options avancées */
.media-modal .setting-group, /* modification d'une image insérée, alignement */
.media-modal .link-to /* modification d'une image insérée, lier à */

{ display:none; }


/*----------  Icônes au clic sur une image dans le WYSIWYG  ----------*/

.mce-inline-toolbar-grp [aria-label*="Align"],
.mce-inline-toolbar-grp [aria-label="No alignment"]
{ display:none !important; }


/*----------  Suppression diverses  ----------*/

/* post & page */
.taxonomy-add-new, 						/* Metabox catégorie	: lien pour ajouter */
.metabox-prefs .columns-prefs, 			/* Options d'écran		: nombre de colonnes */
.metabox-prefs .editor-expand,			/* Options d'écran		: éditeur plein écran */
.metabox-prefs .view-mode,				/* Options d'écran		: mode d'affichage */
.no-url-rewriting #edit-slug-buttons,	/* Permalien			: bouton modifier */
/* catégories */
.term-description-wrap, 		/* description */
/* menus */
.nav-menus-php .metabox-prefs:nth-child(2) label:nth-child(n+5),	/* Afficher description et XFN */
.auto-add-pages, 													/* Ajoutez automatiquement des pages */
.nav-menus-php .posttype-tabs li:nth-child(3),						/* onglet rechercher dans les metaboxes */
.nav-menus-php .nav-tab-wrapper,													/* onglets modifier/gérer
/* page commentaire */
#filter-by-comment-type,			/* select type de commentaires */
#filter-by-comment-type + input,
/* profil */
.user-rich-editing-wrap,
.user-syntax-highlighting-wrap,
.user-comment-shortcuts-wrap,
.user-admin-bar-front-wrap,
.user-url-wrap,
#your-profile h2:nth-of-type(4),
#your-profile table:nth-of-type(4)
{ display:none !important; }


/*----------  lien vers la page de config du thème  ----------*/

a[href*="customize.php"] { display:none; }


/*=====  FIN Suppression  ======*/

/*===============================
=            WYSIWYG            =
===============================*/

.mce-visualblocks div {
	padding:0 !important;
	background-image: none !important;
}

/*----------  Images  ----------*/

.mce-visualblocks img {
	vertical-align: bottom;
}
.mce-visualblocks img.alignright,
.mce-visualblocks img.alignleft {
	float:none!important;
	display:block;
	margin: 0!important;
}
.mce-visualblocks img.alignright {
	margin-left: auto!important;
}

.wp-caption {
	background-image: none !important;
	display:flex;
	flex-direction: column;
	margin:0;
	width: 100% !important;
	margin: 0 !important;
	border: none !important;
}
.wp-caption.alignleft, .wp-caption.aligncenter, .wp-caption.alignright {
	float:none;
}
.wp-caption.aligncenter {
	align-items: center;
}
.wp-caption.alignright {
	align-items: flex-end;
}
.wp-caption-dd {
	font-style: italic;
}


/*----------  Gallery preview  ----------*/

.mce-visualblocks .wpview {
	margin:0 0 15px 0 !important;
}
.mce-visualblocks .gallery {
	margin:0 !important;
}
.mce-visualblocks .gallery {
	border:none !important;
	background-color: #ccc !important;
	height:50px;
	position: relative;
}
.mce-visualblocks .gallery:after {
	content: "Galerie d'images";
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	left:10px;
	top:10px;
}
.mce-visualblocks .gallery * {
	display:none;
}


/*----------  Ancre  ----------*/

#tinymce h2[id]:before,
#tinymce h3[id]:before,
#tinymce ul[id]:before,
#tinymce li[id]:before,
#tinymce ol[id]:before,
#tinymce blockquote[id]:before,
#tinymce p[id]:before {
	display:inline-block;
	content:attr(id);
	margin-right:5px;
	padding: 0 5px;
	background-color: #666;
	color:#fff;
}


/*=====  FIN WYSIWYG  ======*/

/*=============================
=            Forms            =
=============================*/

.label-required {
	color:red;
}

/*=====  FIN Forms  ======*/
