/**
*
* Ajout
* Suppression
* Wysiwyg
*
**/

/*======================================
=            Classes utiles            =
======================================*/

.reset-btn {
	border:none;
	padding: 0;
	border-radius:0;
	background:none;
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	clip: rect(1px,1px,1px,1px);
	border: 0;
	clip-path: inset(50%);
	white-space: nowrap;
}



/*----------  Alertes  ----------*/

.pc-message-error { color: red!important; }
.pc-field-error { border:1px solid red !important; }


/*=====  FIN Classes utiles  =====*/

/*=========================================
=            Page de connexion            =
=========================================*/

.login h1 a {
	background-image: url(files/logo-login.png);
	background-size: initial;
	background-position: center top;
	width:320px;
	height:150px;
}


/*=====  FIN Page de connexion  =====*/

/*=================================
=            Dashboard            =
=================================*/

/*----------  Widget Bienvenue  ----------*/

.welcome-manuals p { margin-bottom: 0; }
.welcome-manuals ul {
	list-style-type: square;
	padding-left:15px;
	margin-top:5px;
}


/*=====  FIN Dashboard  =====*/

/*===========================================
=            Pages de paramètres            =
===========================================*/

#screen-meta-links .show-settings {
	border-radius: 0;
}
#screen-meta-links .show-settings,
.postbox {
	border:none;
}

.postbox table.form-table {
	margin-top:20px;
}

.pc-settings table.form-table,
#edittag table.form-table,
#edittag h2,
.edit-tag-actions,
.pc-settings h2,
.pc-metabox-help,
.pc-settings table.form-table + p.submit {
	max-width: 1000px;
}
.term-php .pc-metabox-help,
.pc-settings .pc-metabox-help {
	padding: 10px 15px 5px 15px;
	background-color: #fff;
	box-sizing: border-box;
}
.pc-metabox-help > :first-child {
	margin-top:0;
}
.pc-metabox-help > * {
	margin:5px 0 0;
}
#edittag table.form-table,
.pc-settings table.form-table {
	margin-top:0;
	background-color: #fff;
	border-top:10px solid #fff;
	border-bottom:10px solid #fff;
}
.pc-settings table.form-table + p.submit {
	text-align: center;
}
#edittag table.form-table[role="presentation"] {
	margin-top:30px;
}

#edittag h2,
.pc-settings h2,
#poststuff h2 {
	font-size: 18px;
	padding: 15px;
}
#edittag h2,
.pc-settings h2,
.postbox-header {
	border-bottom: 1px solid #f0f0f1;
}

#edittag .form-table th,
.pc-settings .form-table th {
    padding: 15px;
    width: 220px;
}

#edittag .form-table td,
.pc-settings .form-table td {
	padding: 15px;
}

#edittag h2,
.pc-settings h2 {
	margin:30px 0 0 0;
	background-color: #fff;
	box-sizing: border-box;
}
#edittag h2:first-of-type,
.pc-settings h2:first-of-type {
	margin-top:30px;
}

#edittag table.form-table + p.submit,
.pc-settings table.form-table + p.submit {
	margin:40px 0 0 0;
}



/*=====  FIN Pages de paramètres  =====*/

/*=====================================
=            Custom fields            =
=====================================*/

/*----------  Aperçu image  ----------*/

.pc-media-preview {
	display:flex;
	flex-wrap: wrap;
}
.pc-media-preview-item {
	margin:0 10px 10px 0;
	width: 100px;
	height:100px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.pc-media-preview-item img {
	width: 100px;
	height: auto;
}
.pc-audio-preview {
	margin-bottom:10px;
}
.pc-pdf-preview, .pc-file-preview {
	display: inline-block;
	text-decoration: none;
	margin-bottom:5px;
	background-color: #F1F1F1;
	padding:5px 15px 5px 10px;
}
.pc-media-remove { margin-left:5px!important; }


/*----------  Modale lien  ----------*/

.pc-modal-link #link-options,
.pc-modal-link #wplink-link-existing-content
{ display:none; }

.pc-modal-link .link-search-wrapper { margin:10px 0 0 0 !important; }
.pc-modal-link .query-results { top:80px!important; }


/*----------  Repeater & Posts Selector  ----------*/

/* Communs */

.pc-repeater-btn-trash, .pc-repeater-btn-move {
	padding: 4px;
	border:1px solid #8c8f94;
	background-color: #f6f7f7;
	border-radius: 3px;
}
.pc-repeater-btn-trash {
	cursor: pointer;
}
.pc-repeater-btn-move {
	cursor: move;
}
.pc-repeater-btn-trash:hover, .pc-repeater-btn-move:hover {
	background-color: #ddd;
}

/* Posts Selector */

.posts-selector-item {
	margin-bottom:5px;
}
.posts-selector-item span {
	margin-left:5px;
}

/* Repeater */

.pc-repeater-item {
	display:flex;
	align-items: flex-start;
	text-align: left;
	margin-bottom:10px;
}
.pc-repeater-fields {
	min-height: 80px;
	padding:5px 10px;
	flex-grow: 1;
	background-color: #f0f0f1;
}
.postbox .pc-repeater-fields { /* Métaboxe + Block Editor */
	background-color: #fff;
}
.pc-repeater-field {
	display: flex;
}
.pc-repeater-field > * {
	padding:10px;
}
.pc-repeater-field + .pc-repeater-field {
	border-top:1px solid #fff;
}
.pc-repeater-field label {
	width: 150px;
	font-weight: 600;
}
.pc-repeater-field > div {
	flex-grow: 1;
}
.pc-repeater-type_img {
	display: flex;
	align-items: flex-start;
}
.pc-repeater-type_img .pc-media-preview-item {
	margin-bottom: 0;
}

.pc-repeater-actions {
	display: flex;
	flex-direction: column;
	padding:10px 0 10px 10px;
}
.pc-repeater-actions span:nth-child(n+2) {
	margin-top: 10px;
}


.pc-repeater-src {
	display: none;
}
.pc-repeater-placeholder {
	height: 100px;
	border:2px dashed #ccc;
	margin-bottom: 10px;
}


/*=====  FIN Custom fields  =====*/

/*=============================================
=            Ajout / Modifications            =
=============================================*/

/* tax : supprime limite largeur du contenu */
#edittag { max-width: none ! important; }

/* config & tax : position du btn submit */
.edit-tag-actions { text-align: center; }

 /* page medias, alignement vertical */
.upload-php .media-toolbar-secondary button { margin: 12px 10px 12px 0 !important; }

/* modal image */
.media-modal .actions { color: #F3F3F3; } /* séparateurs liens vers la page du fichier joint & plus de détails */
.media-modal #media-attachment-date-filters {
	width: auto !important;
	max-width: none !important;
}
.media-modal .help { margin-top:0; }

/* list des pages */
.post-state { font-style: italic; }


/*=====  FIN Ajout / Modifications  ======*/

/*====================================
=            Suppressions            =
====================================*/

/*----------  Medias page  ----------*/

.upload-php .view-switch a,	/* changement de vue */
#media-attachment-filters	/* type de media */
{ display:none !important; }


/*----------  Medias modal  ----------*/

.media-modal .media-frame-title + h2, /* titre "Actions" colonne gauche */
.media-modal #menu-item-playlist, /* btn ajouter une playlist audio */
.media-modal #menu-item-video-playlist, /* btn ajouter une playlist vidéo */
.media-modal #menu-item-embed, /* btn ajouter à partir d'une adresse web */

.media-modal #alt-text-description, /* aide champ texte alternatif */
.media-modal [data-setting="title"], /* champ titre */
.media-modal [data-setting="description"], /* champ description */

.media-modal .attachment-display-settings .align, /* select alignement */
.media-modal .attachment-display-settings label[for="attachment-display-settings-link-to"], /* select alignement */
.media-modal .attachment-display-settings label[for="attachment-display-settings-link-to"] + select, /* select alignement */
.media-modal .actions a, /* Options media 	: liens vers la page du fichier joint & plus de détails */

.media-modal .media-types-required-info, /* mention champs obligatoires */

.media-modal .gallery-settings, /* options galerie */

.media-modal .advanced-section, /* modification d'une image insérée, options avancées */
.media-modal .setting-group, /* modification d'une image insérée, alignement */
.media-modal .link-to /* modification d'une image insérée, lier à */

{ display:none; }


/*----------  Icônes au clic sur une image dans le WYSIWYG  ----------*/

.mce-inline-toolbar-grp [aria-label*="Align"],
.mce-inline-toolbar-grp [aria-label="No alignment"]
{ display:none !important; }


/*----------  Suppression diverses  ----------*/

/* post & page */
.taxonomy-add-new, 						/* Metabox catégorie	: lien pour ajouter */
.metabox-prefs .columns-prefs, 			/* Options d'écran		: nombre de colonnes */
.metabox-prefs .editor-expand,			/* Options d'écran		: éditeur plein écran */
.metabox-prefs .view-mode,				/* Options d'écran		: mode d'affichage */
.no-url-rewriting #edit-slug-buttons,	/* Permalien			: bouton modifier */
.wp-pp-notice,							/* Message				: aide pour les CGU */
/* catégories */
.term-description-wrap, 		/* description */
/* menus */
.nav-menus-php .metabox-prefs:nth-child(2) label:nth-child(n+5),	/* Afficher description et XFN */
.auto-add-pages, 													/* Ajoutez automatiquement des pages */
.nav-menus-php .posttype-tabs li:nth-child(3),						/* onglet rechercher dans les metaboxes */
.nav-menus-php .nav-tab-wrapper,													/* onglets modifier/gérer */
/* page commentaire */
#filter-by-comment-type,			/* select type de commentaires */
#filter-by-comment-type + input,
/* profil */
.user-rich-editing-wrap,
.user-syntax-highlighting-wrap,
.user-comment-shortcuts-wrap,
.user-admin-bar-front-wrap,
.user-url-wrap,
.user-nickname-wrap,
.user-display-name-wrap,
#your-profile h2:nth-of-type(4),
#your-profile table:nth-of-type(4),
.application-passwords
{ display:none !important; }


/*----------  lien vers la page de config du thème  ----------*/

a[href*="customize.php"] { display:none; }


/*=====  FIN Suppression  ======*/

/*===============================
=            WYSIWYG            =
===============================*/

.mce-visualblocks div {
	padding:0 !important;
	background-image: none !important;
}

/*----------  Images  ----------*/

.mce-visualblocks img {
	vertical-align: bottom;
}
.mce-visualblocks img.alignright,
.mce-visualblocks img.alignleft {
	float:none!important;
	display:block;
	margin: 0!important;
}
.mce-visualblocks img.alignright {
	margin-left: auto!important;
}

.wp-caption {
	background-image: none !important;
	display:flex;
	flex-direction: column;
	margin:0;
	width: 100% !important;
	margin: 0 !important;
	border: none !important;
}
.wp-caption.alignleft, .wp-caption.aligncenter, .wp-caption.alignright {
	float:none;
}
.wp-caption.aligncenter {
	align-items: center;
}
.wp-caption.alignright {
	align-items: flex-end;
}
.wp-caption-dd {
	font-style: italic;
}


/*----------  Gallery preview  ----------*/

.mce-visualblocks .wpview {
	margin:0 0 15px 0 !important;
}
.mce-visualblocks .gallery {
	margin:0 !important;
}
.mce-visualblocks .gallery {
	border:none !important;
	background-color: #ccc !important;
	height:50px;
	position: relative;
}
.mce-visualblocks .gallery:after {
	content: "Galerie d'images";
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	left:10px;
	top:10px;
}
.mce-visualblocks .gallery * {
	display:none;
}


/*----------  Ancre  ----------*/

#tinymce h2[id]:before,
#tinymce h3[id]:before,
#tinymce ul[id]:before,
#tinymce li[id]:before,
#tinymce ol[id]:before,
#tinymce blockquote[id]:before,
#tinymce p[id]:before {
	display:inline-block;
	content:attr(id);
	margin-right:5px;
	padding: 0 5px;
	background-color: #666;
	color:#fff;
}


/*=====  FIN WYSIWYG  ======*/

/*=============================
=            Forms            =
=============================*/

.label-required {
	color:red;
}

/*=====  FIN Forms  ======*/

/*======================================
=            Matomo widgets            =
======================================*/

label[for="WP_Piwik-Widget-Browsers-hide"], #WP_Piwik-Widget-Browsers,
label[for="WP_Piwik-Widget-BrowserDetails-hide"], #WP_Piwik-Widget-BrowserDetails,
label[for="WP_Piwik-Widget-Screens-hide"], #WP_Piwik-Widget-Screens,
label[for="WP_Piwik-Widget-Models-hide"], #WP_Piwik-Widget-Models,
label[for="WP_Piwik-Widget-Systems-hide"], #WP_Piwik-Widget-Systems,
label[for="WP_Piwik-Widget-SystemDetails-hide"], #WP_Piwik-Widget-SystemDetails,
label[for="WP_Piwik-Widget-City-hide"], #WP_Piwik-Widget-City,
label[for="WP_Piwik-Widget-Keywords-hide"], #WP_Piwik-Widget-Keywords,
label[for="WP_Piwik-Widget-Plugins-hide"], #WP_Piwik-Widget-Plugins,
label[for="WP_Piwik-Widget-Search-hide"], #WP_Piwik-Widget-Search
{
	display: none;
}


/*=====  FIN Matomo widgets  =====*/
